name: Publish Package

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0


      - name: Set package.json version from tag
        run: |
          TAG_VERSION=${GITHUB_REF#refs/tags/}
          echo "Setting package.json version to $TAG_VERSION"
          npm version $TAG_VERSION --no-git-tag-version

      # Install dependencies
      - run: npm ci

      - uses: actions/setup-node@v5
        with:
          registry-url: 'https://registry.npmjs.org'

      - run: npm publish --provenance --access public
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - uses: actions/setup-node@v5
        with:
          registry-url: 'https://npm.pkg.github.com'

      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
